---
---

<center><h1>üìç üìç String Manipulation üìç üìç</h1></center>

---

***Define a string***

---

In [1]:
my_string = "Analytics Vidhya creating next generation data science eco-system"

***Length of the string***

---

In [2]:
len(my_string)

65

***Access characters in a string***

---

In [3]:
my_string[0]

'A'

In [4]:
my_string[3]

'l'

***Access characters with negative indexing***

---

In [5]:
my_string[-1]

'm'

***String Slicing***

---

In [6]:
my_string[1:3]

'na'

In [7]:
my_string[10:-10]

'Vidhya creating next generation data science '

In [8]:
# reverse a string

my_string[::-1]

'metsys-oce ecneics atad noitareneg txen gnitaerc ayhdiV scitylanA'

***Count of a particular `character` or a `sub-string` in a string.***

---

In [9]:
my_string

'Analytics Vidhya creating next generation data science eco-system'

In [10]:
my_string.count('a')

6

In [11]:
my_string.count('A')

1

In [12]:
my_string[10:-10]

'Vidhya creating next generation data science '

In [13]:
my_string[10:-10].count('a')

5

In [14]:
my_string.count('en')

2

***Find a substring in the string using `find` and `index` function.***

**`find`**

* If present it will return the starting index.
* If not found, then it will return -1

---

In [15]:
my_string.find('next')

26

In [16]:
my_string.find('python')

-1

**`index`**

* If present it will return the starting index.
* If not found, then it will give error

In [17]:
my_string.index('next')

26

In [18]:
my_string.index('python')

ValueError: substring not found

***Check whether if the string `startswith` or `endswith` a particular substring or not.***

---

In [19]:
my_string

'Analytics Vidhya creating next generation data science eco-system'

In [20]:
my_string.endswith('python')

False

In [21]:
my_string.endswith('system')

True

In [22]:
my_string.startswith('python')

False

In [23]:
my_string.startswith('analytics')

False

***Convert the string to the upper case.***

---

In [24]:
my_string

'Analytics Vidhya creating next generation data science eco-system'

In [25]:
my_string.upper()

'ANALYTICS VIDHYA CREATING NEXT GENERATION DATA SCIENCE ECO-SYSTEM'

***Capitalize: Update the first character of the string to upper case***


---

In [26]:
my_string.capitalize()

'Analytics vidhya creating next generation data science eco-system'

In [27]:
# proper case

***Check if the string is in lower case or upper case.***

---

In [27]:
my_string.islower()

False

In [28]:
my_string.isupper()

False

***Check if the string is digit, alpabetic, alpha-numeric.***

---

In [29]:
"10".isnumeric()

True

In [30]:
"1213as".isnumeric()

False

In [31]:
"python".isalpha()

True

In [32]:
"1212as".isalpha()

False

In [33]:
"1212as".isalnum()

True

In [34]:
string = "AnalyticsVidhya"

In [35]:
string.isalpha()

True

In [36]:
string = "Analytics Vidhya"

In [37]:
string.isalpha()

False

***Replace substrings***

---

In [38]:
"java is easy to learn.".replace('java', 'python')

'python is easy to learn.'

***Split function***

---

In [39]:
"python is easy to learn".split(' ')

['python', 'is', 'easy', 'to', 'learn']

In [44]:
len("python is easy to learn".split('easy'))

2

In [43]:
mylist = ['lakshay', 'sanad', 'aravind', 'aishwarya', 'prateek']
find_a = []
for x in mylist:
    print(x)
    name = x.find('a')
    find_a.append(name)
find_a

lakshay
sanad
aravind
aishwarya
prateek

[1, 1, 0, 0, 2]

In [46]:
"karnataka".split("a")

['k', 'rn', 't', 'k', '']